<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-title>
        i18n-App
      </ion-title>
      <app-selector></app-selector>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">i18n-App</ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        i18n-App
      </ion-card-title>
      <ion-card-subtitle>
        <ion-label for="langs">{{ "HOME.Select" | translate }}</ion-label>

      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ "HOME.Header" | translate }}</h2>

      <p>
        {{ "HOME.Content" | translate }}
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>